DATABASE_URL="postgresql://postgres:password@localhost:5432/name_db?schema=public"
PORT=3000
JWT_SECRET="cambiar_secreto_min_32_caracteres"
JWT_EXPIRES_IN="tiempo_vida_token_8h_ó_30m_ó_etc"
BCRYPT_SALT_ROUNDS="numero_ciclos_default_10"